.card {
    border-radius: 3px;
    box-shadow: 0 0 6px #888;
    overflow: hidden;
    font-family: sans-serif;
}

.card__side {
    display: none;
}

.card__head {
    padding: 11px 40px 13px 10px;
    position: relative;
}

.card__profile {
    width: 40px;
    height: 40px;
    margin-right: 6px;
    display: inline-block;
    background-color: #eee;
    border-radius: 100%;
    overflow: hidden;
    vertical-align: middle;
    text-decoration: none;
}

.card__profile-picture {
    max-width: 100%;
    height: auto;
}

.card__name-location {
    display: inline-block;
    vertical-align: middle;
}

.card__time {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
    right: 11px;
    color: #999;
}

.card__username {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.9em;
}

.card__location {
    position: relative;
    top: 1px;
    display: block;
    font-size: 0.9em;
}

.card__description {
    padding: 10px 12px 25px;
}

.card__likes {
    margin: 0;
}

.card__text {
    font-size: 0.8em;
    margin: 11px 0 0;
}

@media (min-width: 600px) and (max-width: 768px) {
    .card__media {
        display: none;
    }

    .card__side, .card__main {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }

    .card__main {
        box-sizing: border-box;
        padding: 20px 20px 20px 24px;
    }

    .card__head {
        padding: 0 30px 0 0;
    }

    .card__time {
        right: 0;
    }

    .card__description {
        border-top: 1px solid #eee;
        margin-top: 20px;
        padding: 20px 0 0;
    }
}
